:root {
  --primary-color: #007bff; /* Define your primary color */
}

.login-container,
.signup-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header,
.signup-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h2,
.signup-header h2 {
  font-weight: bold;
  color: var(--primary-color);
}

.login-form,
.signup-form {
  margin-top: 20px;
}

.login-form label,
.signup-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form input[type="submit"],
.signup-form input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover,
.signup-form input[type="submit"]:hover {
  background-color: #333;
}

.login-link,
.signup-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a,
.signup-link a {
  color: var(--primary-color);
  text-decoration: none;
}

.login-link a:hover,
.signup-link a:hover {
  color: #333;
}

/* Responsive Design */

@media (max-width: 768px) {
  .login-container,
  .signup-container {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .login-container,
  .signup-container {
    width: 250px;
  }
}
